.formControl {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  position: relative;
  top: -5px;
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
  width: 350px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
input {
  outline: unset;
}
.formInput {
  margin-bottom: 10px;
}
::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #000;
}
::-ms-value {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #000;
}

@media screen and (max-width: 768px) {
  .images {
    display: none;
  }
  .pledgeContainer {
    padding: 0px !important;
    top: 0px;
  }
}
@media screen and (max-width: 420px) {
  .formControl {
    width: 100%;
  }
  .pledge {
    font-size: 1rem;
    padding: 5px;
  }
}
